.h-100vh {
    height: 100vh !important;
}

.bg-image {
    background-image: url("https://img.freepik.com/free-photo/white-particle-lines-futuristic-gradient-background_53876-102621.jpg?w=826&t=st=1700397738~exp=1700398338~hmac=e820a210f196de65c7df4656f13648de83117643ec2144d5654a110a887856dd");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text {
    font-size: 50px;
    color: #04364A;
    background: linear-gradient(to bottom, #a4b357 0%, #14e5d4 64%);

    padding: 20px;
    border-radius: 5px;
}

.size {
    font-size: 30px;
}

a {
    text-decoration:none !important;
}

.center {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  .flex-item-100 {
    width: 100%;
  }